body{
	background-color: AntiqueWhite;
	width:900px;
	margin:0 auto;
}

div{
	margin: 80px 10px 20px;
	font-size: 30px;
}

nav{
	position:fixed;
	top:0px;
	background-color: LightCyan;
	border: 2pt dashed green;
	padding:10px 100px;
	margin-left:200px;
	text-align: center;
}

.right{
	padding-right:80px;
}

a:link{text-decoration: none; color:purple;}
a:hover{text-decoration: underline;}
/*a:visited{text-decoration: none; color:LightGreen;}*/

ul{
	font-size: 20px;
}

img{
	width:200px;
	height:200px;
	margin-top: 150px;
	float:right;
}